*{
    margin: 0;
    padding: 0;
}

.montserrat{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: #000000;
}

body{
    background-color: rgb(46, 46, 46);
}

.margennav{
    margin-top: 130px;
}

.negro{
    color: #000000;
}

.navbar{
    top: 0;
    position: fixed;
    padding: 0;
    z-index: 1000;
    background-color: rgb(22, 22, 22);
}

.navbar a:hover{
    color: #858585;
}

.nav-link:hover {
    color: #d12600 !important;
}

.logo{
    width: 100px;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.sombra-nav{
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0)!important;
}

h1{
    font-size: 40px;
    color: #ffffff;
    font-weight: 500;
}

h2{
    font-size: 25px;
    color: #ffffff;
    font-weight: 600;
}

h3{
    font-size: 20px;
    color: #c4c4c4;
    font-weight: 500;
}

header:hover{
    scale: 101%;
    transition: 80ms;
}

.menuhamb{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.hero{
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px #ffffff32;
    margin-top: 80px;
}

a{
    text-decoration: none;
    cursor: pointer;
}

.boton{
    margin-top: auto;
    color: #ffffff;
    font-size: 13pt;
    background-color: #858585;
    text-align: center;
}

.boton:hover{
    font-size: 13pt;
    background-color: #222222;
    border: none;
    transition: 80ms;
}

.botonheader{
    transition: 100ms;
}

.present{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.ediciones{
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: #5a5a5a;
    min-width: 400px;
    height: 500px;
}

.ediciones p{
    color: #c4c4c4; 
    margin-bottom: auto;
    font-size: small;
}

.imgedic{
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
}

.textoedic{
    background-color: rgba(141, 141, 141, 0.9);
}

.lista p {
    font-weight: 1000;
    font-size: 15px;
}

footer {
    height: 50px;
    position:static;
    bottom: 0;
    z-index: 1000;
    background-color: rgb(22, 22, 22);
}

footer p{
font-size: 10px;
color: aliceblue;
margin-bottom: 0;
}

.footerlogos{
    height: 20px;
}
