*{
    margin: 0; 
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fondo{
    z-index: -1050;
    position:absolute;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    justify-self: center;
}

/*barra navegacion*/

nav{
    z-index: 1000;
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    background-color: rgba(239, 128, 126, 90%);
    box-shadow: 0px 2px 5px 0px rgb(0, 0, 0);
}

nav:hover{
    background-color: rgba(239, 128, 126, 100%);
    transition: 80ms;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.menu {
    display: flex;
    flex-direction: row;
}


a{
    color: aliceblue;
    font-size: 10pt;
    text-decoration: none;
}

ul{
    list-style: none;
}

li{    
    width: 80px;
}

/*cierre barra navegacion*/

/*header*/

header{
    padding: 30px;
    display: grid;
    gap: 30px;
    grid-template-rows: repeat(2, auto);
    justify-self: center;
}

.hero{
    border-radius: 20px;
    padding: 30px;
    background-color:#ef7f7e;
    box-shadow: 2px 2px 10px #00000032;
    margin-top: 160px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 500px;    
}

header h1{
    font-family: 'Lobster', cursive;
    color: aliceblue;
    font-size: 40px;
    text-align: center;
}

header img{
    justify-self: end;
}

.texto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h2{
    color:#7c7c7c;
    font-size: 20px;
}

.botonhero{
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: #ef7f7e;
    border-radius: 10px;
    box-shadow: #000;
    padding: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover{
    box-shadow: 2px 2px 10px #77403f;
    transition: 80ms;
}


.boton{
    margin: 10px;
    width: 200px;
    height: 20px;
    background-color: #ef7f7e;
    border-radius: 10px;
    box-shadow: #000;
    padding: 10px;
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover{
    box-shadow: 2px 2px 10px #77403f;
    transition: 80ms;
}

/*fin header*/

/*productos destacados*/

section{
    margin: 40px;
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template-areas:"tituloproductos"
                        "producto1 producto2 producto3";
    
}

.producto1{
    grid-area: producto1;
}

.producto2{
    grid-area: producto2;
}

.producto3{
    grid-area: producto3;
}

.tituloproductos{
    grid-column: span 3;
    justify-content: center;
    text-align: center;
}

.titulo{    
    font-family: 'Lobster', cursive;
    color:#ef7f7e;
    font-size: 40px;
}

.subtitulo{
    color: #ef7f7e;
    font-size: 40px;
}


.card{
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 20px;
    border: 3px solid #ef7f7e;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    text-align: center;
    justify-content: center;
    width: 300px;
}

.card:hover{
    scale: 103%;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 60%);
    transition: 100ms;
}

.card h2{
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffffee;
    font-family: 'Lobster', cursive;
    color:#ef7f7e;
}

.card img{
    border-radius: 10px;
    box-shadow: 0px 0px 10px  #77403f;
}

/*footer*/

footer{
    margin-top: 40px;
    width: 100%;
    z-index: 1000;
    bottom: 0;
    background-color: rgba(239, 128, 126, 90%);
}

footer p{
    font-size: 10px;
    color: aliceblue;
    text-align: center;
    padding: 10px;
}


/*fin footer*/

@media (min-width: 1280px){}

/*laptops, desktops*/
@media (min-width: 1024px) and (max-width: 1280px){

    section{
        padding: 30px;
        display: grid;
        justify-content: center;
        justify-self: center;
        gap: 5px;
        grid-template-columns: 1fr;
    }
    .grid {
        width: 481px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        justify-self: center;
    }

}

/*low resolution tablets, mobiles (landscape)*/
@media (min-width: 540px) and (max-width: 1024px){


    .grid {
        width: 501px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        justify-self: center;
    }
    
    .hero{
        border-radius: 20px;
        padding: 30px;
        background-color:#ef7f7e;
        box-shadow: 2px 2px 10px #00000032;
        margin-top: 160px;
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    header img{
        justify-self: center;
    }

    header h2{
        color:#7c7c7c;
        font-size: 20px;
        text-align: center;
    }

    section{
        margin:0;
        display: grid;
        justify-content: center;
        gap: 20px;
    }

    .card{
        background-image: url(img/back.png);
        background-repeat: no-repeat;
        background-position: top center;
        border-radius: 20px;
        border: 3px solid #ef7f7e;
        padding: 20px;
        display: grid;
        grid-template-areas: "titulocard titulocard"
                                "cardimg botoncard";
        gap: 20px;
        text-align: center;
        justify-content: center;
        width: 450px;
    }

    .card h2{
        grid-area: titulocard;
        padding: 10px;
        border-radius: 5px;
        background-color: #ffffffee;
        font-family: 'Lobster', cursive;
        color:#ef7f7e;
    }

    .card img{
        grid-area: cardimg;
        border-radius: 10px;
        box-shadow: 0px 0px 10px  #77403f;
    }

    .boton{
        grid-area: botoncard;
        width: max-content;
        height: 270px;
        background-color: #ef7f7e;
        border-radius: 10px;
        box-shadow: #000;
        padding: 10px;
        justify-self: center;
        display: flex;
    }
    
    .boton:hover{
        box-shadow: 2px 2px 10px #77403f;
        transition: 80ms;
    }

    .tituloproductos{
        grid-area: span 1;
        justify-content: center;
        text-align: center;
    }

    .titulo{    
        font-family: 'Lobster', cursive;
        color: #ef7f7e;
        font-size: 40px;
    }

    .subtitulo{
        color: #ef7f7e;
        font-size: 40px;
    }

    article{
        justify-self: center;
    }
}
/*smartphones mobiles (portrait)*/
@media (min-width: 320px) and (max-width: 540px){
    
    .grid {
        width: 320px;
        display: grid;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        justify-self: center;
    }

    .hero{
        border-radius: 20px;
        padding: 30px;
        background-color:#ef7f7e;
        box-shadow: 2px 2px 10px #00000032;
        margin-top: 160px;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 1fr;
        gap: 40px;
    }

    header h1{
        font-family: 'Lobster', cursive;
        color: aliceblue;
        font-size: 25px;
        text-align: center;
    }

    header img{
        justify-self: center;
    }

    header h2{
        color:#7c7c7c;
        font-size: 20px;
        text-align: center;
    }

    header h2{
        color:#7c7c7c;
        font-size: 15px;
    }

    section{
        margin: 0;
        padding: 0px;
        display: grid;
        justify-content: center;
        gap: 20px;
        grid-template-columns: 1fr;
    }


    .tituloproductos{
        grid-area: span 1;
        justify-content: center;
        text-align: center;
    }

    .titulo{    
        font-family: 'Lobster', cursive;
        color: #ef7f7e;
        font-size: 40px;
    }

    .subtitulo{
        color: #ef7f7e;
        font-size: 40px;
    }
    article{
        justify-self: center;
    }
}